body{
  background-color: black;
}
h1
{
  font-family: 'DM Serif Text', serif;
}

h2{
  font-family: 'IM Fell English SC', serif;

}


.modal-backdrop.show {
    opacity: 0.8;
}


@media (min-width: 576px) {

  .modal-dialog {  max-width:none;}
}

.modal-dialog {
   width: 60%;
  height: 60%;
}

.modal-body {
   height: auto;
  min-height: 100%;
}